* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: pokemon;
    src: url('../fonts/retro_font.ttf');
}

h1{
    text-align: center;
    background-image: url('../images/pokemon_grass.jpg');
    background-position: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 65px;
    font-size: 25px;
    font-family: pokemon, sans-serif;
    align-content: center;

}

html, body{
    height: 100%;
    width: 100%;
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h1 {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #0275dd;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: yellow;
    background-color: #0275dd;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #025196;
}
.navbar li{
    float: left;
    flex: 1
}

body{
    margin:0px;
    text-align: center;
}

main{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
footer {
    background-color: #0275dd;
    margin: 0px;
    height: 50px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    position: fixed;
}
footer p{
    color: yellow;
    text-align: center;
}

#content {
    min-height: 100%;
    margin-bottom: 0px;
}

/*  ------------------------    Home Page -----------------------------  */

#game_screen {
    margin-top: 20px;
    background-image: url('../images/battle_background.jpg');
    background-size: cover;
    border-radius: 10px;
    border: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.move_buttons_container{
    display: flex;
    gap: 20px;
}

.moves {
    margin-top: 5px;
    font-size: 40px;
    padding: 20px 61px;
    border-color: transparent;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: pokemon, sans-serif;
}

.moves:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5); 
}

.moves:active{
    transform: translateY(2px);
}

/*  ------------------------    Contact Page -----------------------------  */
.section-header{
    padding: 20px;
    font-size: 40px;
}
body{
    background-color: #add8e6;
}

.both_containers{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.tommy-container, .tayden-container{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.creator-name{
    font-size: 28px;
}
.tommy-right, .tayden-right{
    padding: 20px;
    padding-left: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.right-subcontainer{
    padding: 10px;
}